@import url('https://fonts.googleapis.com/css?family=Courgette&subset=latin-ext');

* {
	box-sizing: border-box;
}

body {
	font-family: 'Courgette', cursive;
	font-size: 16px;
	color: #333;
	margin: 0;
}

header {
	background-image: radial-gradient(circle, #72d6c9, #54d1ed, #7ac5ff, #bcb2fe, #f29cd9);
	height: 80px;
}
.clear {
	clear: both;
}
.nav-logo {
	float: left;
	color: #e00986;
	font-size: 25px;
	margin: 0;
	padding-left: 15px;
	line-height: 80px;
}
nav ul {
	float: right;
	list-style-type: none;
	text-align: center;
	margin: 0;
	padding: 0;
}
nav ul li {
	display: inline-block;
	position: relative;
	width: 150px;
}
nav ul li a {
	text-decoration: none;
	color: #e00986;
	line-height: 80px;
	padding: 0 10px;
	display: block;
}
nav ul li a:hover {
	color: #fff;
	transition-duration: 1s;
}

nav ul ul {
	background-image: radial-gradient(circle, #72d6c9, #54d1ed, #7ac5ff, #bcb2fe, #f29cd9);
	text-align: center;
	width: 100%;
	display: none;
}
nav ul ul li {
	display: block;
}
nav ul ul li a {
	line-height: 50px;
}
nav ul li:hover > ul {
	display: block;
	position: absolute;
	z-index: 1;
}
.hero-section {
	height: 300px;
	width: 100%;
	background-image: url(https://images.unsplash.com/photo-1505394033641-40c6ad1178d7?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=2ce08c47852fb7cceac5e1e0fa88f404&auto=format&fit=crop&w=806&q=80);
	background-size: cover;
	background-position: center;
	position: relative;
	overflow: hidden;
}
.slogan {
	width: 80%;
	background: rgba(0, 0, 0, 0.7);
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translateX(-50%) translateY(-50%);
}
.slogan h2 {
	color: #fff;
	text-transform: uppercase;
	text-align: center;
	padding: 10px 20px;
}
.slogan h2 span {
	color: #e00986;
}
.yellow-text {
	color:  #fbb619!important;
	font-size: 40px;
}
.container {
	max-width: 1000px;
	margin: 0 auto;
	padding: 10px 20px;
}
.about-section {
	width: 100%;
	background-color: #f29cd9;
}
.about-section h2 {
	margin: 0;
	font-size: 30px;
	padding: 20px;
}
.about-section img {
	margin: 10px auto 30px;
	display: block;
	width: 30%;
}
.gallery-section {
	width: 100%;
	margin: 0 auto;
}
.gallery-section h2 {
	margin: 0;
	padding: 10px;
	text-align: center;
	color: #66b8c4;
}
.gallery-image {
	display: flex;
	flex-flow: row wrap;
	justify-content: center;
}
.gallery-image img {
	display: flex;
	width: 300px;
	height: 200px;
	object-fit: cover;
	margin: 10px;
	border: 5px solid #fff;
	-webkit-box-shadow: 4px 4px 24px 1px rgba(224,9,134,0.75);
 	-moz-box-shadow: 4px 4px 24px 1px rgba(224,9,134,0.75);
 	box-shadow: 4px 4px 24px 1px rgba(224,9,134,0.75);
}
.gallery-image img:hover {
	transform:scale(1.2);
	cursor: pointer;
}
.movie-section {
	background-color: #66b8c4;
	position: relative;
	height: 400px;
}
.single-movie {
	margin: auto;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}
.icon-section {
	display: flex;
	flex-flow: row wrap;
	justify-content: space-around;
	margin: 40px auto;
}
.icon {
	display: block;
	width: 200px;
	text-align: center;
	-webkit-box-shadow: 4px 4px 24px 1px rgba(102,184,196,0.75);
 	-moz-box-shadow: 4px 4px 24px 1px rgba(102,184,196,0.75);
 	box-shadow: 4px 4px 24px 1px rgba(102,184,196,0.75);
}
.icon i {
	font-size: 40px;
	color: #e00986;
	padding: 15px;
}
.icon p {
	font-size: 30px;
}
.icon p span {
	font-size: 18px;
}
footer {
	background-image: radial-gradient(circle, #72d6c9, #54d1ed, #7ac5ff, #bcb2fe, #f29cd9);
	text-align: center;
	padding: 10px;
}
footer a {
	text-decoration: none;
	color: #e00986
}